/* body {
    font-family: 'Inter', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 20px;
} */

#prescription-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.prescription-text-center {
    font-weight: 600;
}
